.our-story-image {
  justify-content: end;
}

@media screen and (min-width: 800px) {
  #hero-section-about-us {
    .hero-banner-text {
      position: absolute;
      color: white;
      text-align: center;
      top: 30%;
    }
    .hero-banner-text div {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .hero-banner-text p {
      width: 60%;
      margin: auto;
    }
  }
  #about-us-main-section h1 {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .our-story-image {
    justify-content: center;
  }
}
