#footer-section {
  background-image: url("/footervector.svg");
  height: 450px;
}

#footer-section h3 {
  font-size: 33px;
}

.border-line {
  background-color: #6f6d6d;
  opacity: 0.7;
  height: 1.5px;
  width: 80%;
}

.social-media-icons {
  width: 30px;
}

.logo-footer-div {
  bottom: 5%;
}

.social-links-footer-div {
  bottom: 5%;
  right: 10%;
}

.logo {
  font-size: 1.2em;
}

@media screen and (min-width: 1500px) {
  #footer-section {
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1500px) {
  #footer-section {
    height: 350px;
  }
}

@media screen and (max-width: 800px) {
  #footer-section h3 {
    font-size: 25px;
  }
  #footer-section {
    background-image: url("/footer-mobile-vector.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
  }
  .social-media-icons {
    width: 25px;
  }
  .logo {
    font-size: 1.1em;
  }

  .logo-footer-div {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .social-links-footer-div {
    bottom: 5%;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }
  .social-links-footer-div div {
    justify-content: center;
  }
}
